<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

  <%= form.hidden_field :image, value: @product.cached_image_data if defined? (@product.cached_image_data) %>
  <%= form.file_field :image %>

  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :discription %>
    <%= form.text_area :discription, id: :product_discription %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
