<div>

<h1 class="massage text-center">Available massages</h1>
</div>



<!-- <td><%#= product.name %></td>
<td><%#= product.price %></td>
<td><%#= product.discription %></td> -->
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
     <div class="col-md-4">
       <div class="thumbnail">
          <img src="<%= product.image_url if defined? product.image_url %>" alt="Product Image" height="200px" width="100%">
       </div>
      <p class="text"> <%= link_to product.name,product %> <br>
        <span class="product-desc"><%= product.discription %></span> <br>
       <span class="product-price">$ <%= product.price %></span> </p>
    </div>
    <% end %>
  </div>
</div>

  <%= link_to 'New Product', new_product_path %>

  <!-- <td><%#= product.name %></td>
         <td><%#= product.price %></td>
         <td><%#= product.discription %></td> -->
