
<p id="notice"><%= notice %></p>

<div>

<h1 class="massage text-center">Available massages</h1>
</div>



<!-- <td><%#= product.name %></td>
<td><%#= product.price %></td>
<td><%#= product.discription %></td> -->
<div class="container">
  <div class="row">
    <% @products.each do |product| %>
     <div class="col-md-4">
    <p><img src="<%= product.image_url if defined? product.image_url %>" alt="Product Image" height="100%" width="100%"></td><p>

    <p class="text-h4"> <%= link_to product.name,product %> </p>
    <p class="text-h4"><%= product.discription %> </p
      <p class="text-h4"><%= product.price %> </p>
    </div>
    <% end %>
  </div>
</div>

  <%= link_to 'New Product', new_product_path %>

  <!-- <td><%#= product.name %></td>
         <td><%#= product.price %></td>
         <td><%#= product.discription %></td> -->
