<div class="container">
  <div class="row">
<div class="col-md-6">
  <p>
  <img src="<%= @product.image_url %>">
  </p>
  <!-- <strong>Image data:</strong> -->
</div>
<div class="col-md-6">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @product.discription %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<div>
<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <!-- <span>Amount: $5.00</span> -->
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description= <%= @product.name %>
          data-amount= <%= @product.price * 100%>
          data-locale="auto"></script>
<% end %>
</div>
</div>


<div>
  <% @reviews.each do |review| %>
    <div>
      <strong><%= review.user.email%></strong>
      <br />
      <p><%= review.comment %></p>
      <% if user_signed_in? && review.user == current_user %>
        <p><%= link_to 'Delete', review_path(review), method: :delete %></p>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= render 'reviews/form' %>
  <% end %>
</div>
</div></div>
