<p id="notice"><%= notice %></p>

<p>
  <strong>comment:</strong>
  <%= @review.comment %>
</p>
<div class="reviews">
        <div class="star-rating" data-score= <%= review.rating %> ></div>
        <p><%= review.comment %></p>
      </div>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
